*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #b0c4fa;
font-family:Verdana, Geneva, Tahoma, sans-serif;
} 

header{
    height: 310px;
    background-image: url(../img/design1_image2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section>h2{
    margin-top: 0;
    text-align: center;
    border: 1px solid black;
    padding: 4px;
}

.article img{
    display: block;
    height: 140px;
    margin: 20px 80px 20px 30px;
}

.article div{
    display: inline-block;
}

.contenedor_texto {
    position: absolute;
    margin-top:30px;
   
}

.contenedor_texto>a{
    text-decoration: none;
}

.contenedor_texto h2, h3, h4{
   padding-top: 20px;  
}

.active{
    background-color: #fec601;
}
/* Creé esta clase y se la agregué a los a porque no me tomaba el
background azul y si el verde de la clase active */
.desactive{
    background-color: #000000;
}

.menu a{
    padding: 4px 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #000000;
    border-radius: 3px;
}

.menu{
    position:absolute;
    top: 280px;
    right: 15px;
}

.title{
    font-size: 50px;
    color: #000000;
    text-shadow: 4px 3px 2px  #e5e6e7;
}

/* //////////////////////////// */
/* //////////TASK 3 ////////////*/
/* //////////////////////////// */

.contenedor_info{
    margin-top: 20px;
    padding: 30px;
    width: 750px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.caja_principal{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo_contenedor{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.listas{
    margin-left: 40px;
    line-height: 25px;  
}

#contenedor_info{
    padding: 30px;
}
#contenedor_info h3{
    padding: 5px;
    
}
#contenedor_info p{
    line-height: 25px;
}